<a href="https://colab.research.google.com/github/Priya1881/NLP/blob/main/Predict_The_News_Category_Hackathon.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Predict The News Category Hackathon

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import numpy as np

## 1.Reading Data

In [ ]:
train = pd.read_excel('/content/drive/MyDrive/Data_Train.xlsx')
test = pd.read_excel('/content/drive/MyDrive/Data_Test.xlsx')
submission = pd.read_excel('/content/drive/MyDrive/Sample_submission.xlsx')

train.shape, test.shape, submission.shape

((7628, 2), (2748, 1), (2748, 1))

## 2.Data PreProcessing

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
import re
import itertools
def remove_noise(text):
    # Make lowercase
    text = text.apply(lambda x: " ".join(x.lower() for x in x.split()))
    
    # Remove whitespaces
    text = text.apply(lambda x: " ".join(x.strip() for x in x.split()))
    
    # Convert to string
    text = text.astype(str)
        
    return text

In [ ]:
train['STORY'] = remove_noise(train['STORY'])
test['STORY'] = remove_noise(test['STORY'])

## 3.Feature Engineering

In [ ]:
from nltk.tokenize import WordPunctTokenizer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer

In [ ]:
tt = WordPunctTokenizer()

In [ ]:
cv = CountVectorizer(min_df=3,tokenizer=tt.tokenize, stop_words='english', ngram_range=(1,3))

cv.fit(train.STORY.tolist() + test.STORY.tolist())
train_cv = cv.transform(train.STORY)
test_cv = cv.transform(test.STORY)

/usr/local/lib/python3.7/dist-packages/sklearn/feature_extraction/text.py:517: UserWarning: The parameter 'token_pattern' will not be used since 'tokenizer' is not None'
  "The parameter 'token_pattern' will not be used"

In [ ]:
tf_idf = TfidfVectorizer(min_df=3,  max_features=None, 
            strip_accents='unicode', analyzer='word', token_pattern=r'\w{1,}',
            ngram_range=(1, 3), use_idf=1.0,smooth_idf=1.0,sublinear_tf=1.0,
            stop_words = 'english')

tf_idf.fit(train.STORY.tolist() + test.STORY.tolist())
train_tf = tf_idf.transform(train.STORY)
test_tf = tf_idf.transform(test.STORY)

## 3.Modeling

In [ ]:
from sklearn.linear_model import LogisticRegression, LogisticRegressionCV
from sklearn.naive_bayes import MultinomialNB, BernoulliNB
from sklearn.svm import SVC

In [ ]:
best_params = {'C': 12, 'max_iter': 300, 'multi_class': 'ovr', 'penalty': 'l2'}
m = LogisticRegression(**best_params, class_weight='balanced')
m.fit(train_cv, train.SECTION)


best_params = {'alpha': 0.5}
nb = MultinomialNB(**best_params)
nb.fit(train_cv, train.SECTION)

best_params = {'alpha': 5e-08}
nb2 = BernoulliNB(**best_params)
nb2.fit(train_cv, train.SECTION)

best_params = {'C': 12, 'max_iter': 300, 'multi_class': 'ovr', 'penalty': 'l2'}
m_tf = LogisticRegression(**best_params, class_weight='balanced')
m_tf.fit(train_tf, train.SECTION)

best_params = {'alpha': 0.06}
nb_tf = MultinomialNB(**best_params)
nb_tf.fit(train_tf, train.SECTION)

best_params = {'kernel': 'linear', 'C': 1}
svc_tf = SVC(**best_params, class_weight='balanced', probability=True)
svc_tf.fit(train_tf, train.SECTION)

## 4.Ensembing learning

In [ ]:
from scipy.stats.mstats import mode

pred1 = m.predict_proba(test_cv)
pred2 = nb.predict_proba(test_cv)
pred3 = nb2.predict_proba(test_cv)
pred4 = m_tf.predict_proba(test_tf)
pred5 = nb_tf.predict_proba(test_tf)
pred6 = svc_tf.predict_proba(test_tf)

test_pred_prob = np.mean([pred1, pred2, pred3, pred4, pred5, pred6], axis=0)
pred = np.argmax(test_pred_prob, axis=1)

In [ ]:

submission = pd.DataFrame()
submission['SECTION'] = pred.astype(int)
submission.to_excel("/content/drive/MyDrive/Hackathon_submission.xlsx", index=None)
submission.head()

   SECTION
0        1
1        2
2        1
3        0
4        1

In [ ]:
submission = pd.DataFrame()
submission['SECTION'] = pred.astype(int)
submission.to_excel("sample_submission1.xlsx", index=None)
#submission.head()

   SECTION
0        1
1        2
2        1
3        0
4        1